In [ ]:
# The idea for this program is for ti to read in a given CSV file from the user and then graph the data
# Then calculate the relevant metrics (mean median etc.)
# Step 1 have python import relevant libraries and import the CSV
#Step 1

In [7]:
#Step 1
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [41]:
#Note: Need to save file as UTF-8 for it to work. File extenstion will be .csv instead of xlsx. 
#Note: to get correct path name for file press shift +right click then change all \ to /
data=pd.read_csv('C:/Users/RileyS/Desktop/SJR NBS Fellow/Projects/Biotinidase Assay/Data/BTD ABS data/PTD1utf.csv')
df1=pd.DataFrame(data)
print(df1)

                Results Unnamed: 1  Unnamed: 2  Unnamed: 3  Unnamed: 4  \
0   Actual Temperature:       21.8         NaN         NaN         NaN
1                   NaN        NaN         NaN         NaN         NaN
2                   NaN        NaN       1.000       2.000       3.000
3                   NaN          A       0.162       0.058       0.044
4                   NaN          B       0.073       0.070       0.072
5                   NaN          C       0.256       0.120       0.074
6                   NaN          D       0.081       0.074       0.072
7                   NaN          E       0.084       0.103       0.081
8                   NaN          F       0.120       0.114       0.100
9                   NaN          G       0.136       0.137       0.143
10                  NaN          H       0.049       0.049       0.050

    Unnamed: 5  Unnamed: 6  Unnamed: 7  Unnamed: 8  Unnamed: 9  Unnamed: 10  \
0          NaN         NaN         NaN         NaN         NaN          NaN
1          NaN         NaN         NaN         NaN         NaN          NaN
2        4.000       5.000       6.000       7.000       8.000        9.000
3        0.042       0.043       0.043       0.043       0.043        0.050
4        0.074       0.109       0.075       0.076       0.072        0.075
5        0.078       0.084       0.090       0.081       0.086        0.081
6        0.078       0.092       0.087       0.068       0.074        0.074
7        0.094       0.095       0.085       0.082       0.087        0.095
8        0.095       0.120       0.090       0.117       0.112        0.110
9        0.146       0.149       0.113       0.124       0.117        0.140
10       0.050       0.051       0.050       0.049       0.050        0.050

    Unnamed: 11  Unnamed: 12  Unnamed: 13  Unnamed: 14
0           NaN          NaN          NaN          NaN
1           NaN          NaN          NaN          NaN
2        10.000       11.000       12.000          NaN
3         0.088        0.059        0.049        546.0
4         0.093        0.043        0.047        546.0
5         0.190        0.043        0.047        546.0
6         0.074        0.044        0.046        546.0
7         0.082        0.044        0.104        546.0
8         0.276        0.045        0.047        546.0
9         0.166        0.047        0.048        546.0
10        0.050        0.050        0.052        546.0

In [49]:
#delete unwanted rows
df2=df1.drop(['Results','Unnamed: 1','Unnamed: 14'],axis=1, inplace=False)
df3=df2.drop([0,1,2],axis=0,inplace=False)
print(df3.head())

   Unnamed: 2  Unnamed: 3  Unnamed: 4  Unnamed: 5  Unnamed: 6  Unnamed: 7  \
3       0.162       0.058       0.044       0.042       0.043       0.043
4       0.073       0.070       0.072       0.074       0.109       0.075
5       0.256       0.120       0.074       0.078       0.084       0.090
6       0.081       0.074       0.072       0.078       0.092       0.087
7       0.084       0.103       0.081       0.094       0.095       0.085

   Unnamed: 8  Unnamed: 9  Unnamed: 10  Unnamed: 11  Unnamed: 12  Unnamed: 13
3       0.043       0.043        0.050        0.088        0.059        0.049
4       0.076       0.072        0.075        0.093        0.043        0.047
5       0.081       0.086        0.081        0.190        0.043        0.047
6       0.068       0.074        0.074        0.074        0.044        0.046
7       0.082       0.087        0.095        0.082        0.044        0.104

In [53]:
print(df3.columns)
dfg=df3.iloc[0:9]
print(dataforgraph)

Index(['Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6',
       'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11',
       'Unnamed: 12', 'Unnamed: 13'],
      dtype='object')
    Unnamed: 2  Unnamed: 3  Unnamed: 4  Unnamed: 5  Unnamed: 6  Unnamed: 7  \
3        0.162       0.058       0.044       0.042       0.043       0.043
4        0.073       0.070       0.072       0.074       0.109       0.075
5        0.256       0.120       0.074       0.078       0.084       0.090
6        0.081       0.074       0.072       0.078       0.092       0.087
7        0.084       0.103       0.081       0.094       0.095       0.085
8        0.120       0.114       0.100       0.095       0.120       0.090
9        0.136       0.137       0.143       0.146       0.149       0.113
10       0.049       0.049       0.050       0.050       0.051       0.050

    Unnamed: 8  Unnamed: 9  Unnamed: 10  Unnamed: 11  Unnamed: 12  Unnamed: 13
3        0.043       0.043        0.050        0.088        0.059        0.049
4        0.076       0.072        0.075        0.093        0.043        0.047
5        0.081       0.086        0.081        0.190        0.043        0.047
6        0.068       0.074        0.074        0.074        0.044        0.046
7        0.082       0.087        0.095        0.082        0.044        0.104
8        0.117       0.112        0.110        0.276        0.045        0.047
9        0.124       0.117        0.140        0.166        0.047        0.048
10       0.049       0.050        0.050        0.050        0.050        0.052

In [55]:
df4=dfg
print(df4)

3     0.220
4     0.143
5     0.376
6     0.155
7     0.187
8     0.234
9     0.273
10    0.098
dtype: float64